<app-nav></app-nav>

<div class="container">
  
  <br><div class="row">
  <div class="col-md-3"><div class="intro-img"><img src="./assets/images/my-pic.jpg" class="img-thumbnail" /></div></div>
   <div class="col-md-9 intro">
      <h3>INTRODUCTION</h3>
      <p>My self Mohisn Ghani. I am in my Fourth semester of BS in Software Engineering at Muhammad Ali Jinnah University and
      I'm doing Mobile Cloud and Computing from Sir Syed University as well. 
      Everyone can agree that I am a good student and that I like to study. My favorite subjects are all 
      technical Subjects and I am interested in web designing, web developing, programming and other things. 
      I had taken admission in university because my goal is to study in future and to become a respected 
      professional in one of the fields.</p>
  </div>
  </div>  

    <hr><h3>PERSONAL INFORMATION</h3>
    <div class="row info">
            <div class="col-sm-6">Name: <span>Mohsin Ghani</span><hr></div>
            <div class="col-sm-6">Father Name: <span>Abdul Ghani</span><hr></div>
            <div class="col-sm-6">Phone: <span>0343-2195645</span><hr></div>
            <div class="col-sm-6">Email: <span> mohsinghani.777@gmail.com</span><hr></div>
            <div class="col-sm-6">Facebook: <span><a href="https://www.facebook.com/mohsin.ghani.777" target="new"> mohsinghani.777@gmail.com</a></span><hr></div>
            <div class="col-sm-6">Address: <span>PECHS Block #1</span><hr></div>
            <div class="col-sm-6">Web: <span><a href="http://www.mohsinghanni.base.pk" target="new">www.mohsinghani.base.pk</a></span><hr></div>
            <div class="col-sm-6">Languages: <span>Urdu & English</span><hr></div>
            <div class="col-sm-6">Religion: <span>ISLAM</span><hr></div>
            <div class="col-sm-6">Nationality: <span>Pakistani</span><hr></div>
    </div>

    <hr><h3>ACADMIC QUALIFICATION</h3>
        <div class="row qualification">
            <div class="col-sm-6"><span>Matriculation from Sindh Board</span><hr></div>
 	          <div class="col-sm-6"><span>Intermediate Board of Intermediate, Karachi</span><hr></div>
            <div class="col-sm-6"><span>Mobile Cloud & Computing from <br> Sir Syed University<hr></span></div>
            <div class="col-sm-6"><span>Bachelor of Science in Software Engineering from <br> Mohammad Ali Jinnah University (continue)<hr></span></div>
            <div class="col-sm-6"><span>MS OFFICE & CIT from Vocational Training Center, Karachi</span><hr></div>
 	          <div class="col-sm-6"><span>Web Designing from Vocational Training Center, Karachi</span><hr></div>
        </div>
        
        <hr><h3>PROGRAMMING SKILLS</h3>
        <div class="row skills">
            <div class="col-sm-6"><span>HTML (Hypertext Markup Language)</span><hr></div>
 	          <div class="col-sm-6"><span>CSS (Cascading Style Sheets)</span><hr></div>
            <div class="col-sm-6"><span>JavaScript</span><hr></div>
            <div class="col-sm-6"><span>jQuery</span><hr></div>
            <div class="col-sm-6"><span>Bootstrap</span><hr></div>
            <div class="col-sm-6"><span>Typescript</span><hr></div>
            <div class="col-sm-6"><span>Angular2+</span><hr></div>
            <div class="col-sm-6"><span>Ionic 2</span><hr></div>
            <div class="col-sm-6"><span>Firebase</span><hr></div>
            <div class="col-sm-6"><span>Codeigniter</span><hr></div>
             <div class="col-sm-6"><span>PHP</span><hr></div>
            <div class="col-sm-6"><span>MySql</span><hr></div>
            <div class="col-sm-6"><span>C & C++</span><hr></div>
            <div class="col-sm-6"><span>C# (Learning)</span><hr></div>
            
            <div class="col-sm-6"><span>Adobe Photoshop</span><hr></div>
            <div class="col-sm-6"><span>MS Word</span><hr></div>
            <div class="col-sm-6"><span>MS Excel</span><hr></div>
            <div class="col-sm-6"><span>MS PowerPoint</span><hr></div>
        </div>


</div>